<%- include('partials/header') %>
<form class="container" method="POST" action="/question">
  <div class="mb-3">
    <% try { %>
      <% if (error) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong><%=error%></strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% } %>
      <% } catch (error) { %>
        <div class="mb-3">
        </div>
      <% } %>
    <label for="answer" class="form-label"><h4><b><%= question %></b></h4></label>
    <input
      type="text"
      class="form-control"
      id="answer"
      name="answer"
      autofocus
      required
    />
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
<%- include('partials/footer') %>
